In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import sklearn
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import string
import re

In [14]:
sms_data=pd.read_csv('./data/spam.csv',encoding='latin')
sms_data.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [15]:
sms_data.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

# preprocessing

In [16]:
sms_data.shape

(5572, 5)

In [18]:
sms_data.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [25]:
#drop all null columns
sms_data.dropna(axis=1, how='all', inplace=True)

# Print the DataFrame to verify the change
print(sms_data.head())

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [27]:
sms_data.shape

(5572, 2)

In [28]:
#encoding spam as 1 and ham as 0
from sklearn.preprocessing import LabelEncoder

In [30]:
encoder=LabelEncoder()
data=encoder.fit_transform(sms_data['v1'])
data

array([0, 0, 1, ..., 0, 0, 0])

In [36]:
sms_data['result']=data
sms_data.drop('v1',axis=1,inplace=True)

In [37]:
sms_data

                                                     v2  result
0     Go until jurong point, crazy.. Available only ...       0
1                         Ok lar... Joking wif u oni...       0
2     Free entry in 2 a wkly comp to win FA Cup fina...       1
3     U dun say so early hor... U c already then say...       0
4     Nah I don't think he goes to usf, he lives aro...       0
...                                                 ...     ...
5567  This is the 2nd time we have tried 2 contact u...       1
5568              Will Ì_ b going to esplanade fr home?       0
5569  Pity, * was in mood for that. So...any other s...       0
5570  The guy did some bitching but I acted like i'd...       0
5571                         Rofl. Its true to its name       0

[5572 rows x 2 columns]

In [39]:
#re
def wordedit(text):
    text=text.lower()
    text=re.sub(r'<[^<>=]+>','',text)
    text=re.sub(r'(http|https)://[^\s]*','httpaddr',text)
    text=re.sub(r'[0-9]','number',text)
    text= re.sub(r'\s+[a-zA-Z]\s+', ' ', text)
    text=re.sub(f'[{string.punctuation}]','',text)
    text=re.sub('\n','',text)

In [40]:
sms_data['v2']=sms_data['v2'].apply(wordedit)

TypeError: sub() missing 1 required positional argument: 'string'